.title {
    text-align: center;
    font-family: var(--font-coolvetica);
    font-size: 3.6rem;
    margin-bottom: 60px;
    color: #ffffff;
    min-height: 70vh;
    padding-top: 90px;
}

.title h1 {
    font-size: clamp(4rem, 7vw, 6.8rem);
    line-height: 1;
}

.ide {
    background: linear-gradient(90deg, #1C6C8C, #ACDEF2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.jadi {
    background: linear-gradient(90deg, #ACDEF2, #1C6C8C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.title p {
  font-family: var(--font-montserrat);
  font-size: 0.9rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: rgba(234, 234, 255, 0.75);
  margin-top: 30px;
}

.buttons {
  font-family: var(--font-coolvetica);
  font-size: 0.85rem;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  display: inline-flex;

  color: #eaf6ff;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(140, 220, 255, 0.6);

  backdrop-filter: blur(6px);
  transition: all 0.3s ease;

  letter-spacing: 0.075em;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-height: 40px;


}

.buttons:hover {
  background: rgba(0, 229, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 229, 255, 0.5);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}