.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(
      circle at top,
      rgba(0, 229, 255, 0.15),
      transparent 40%
    ),
    linear-gradient(
      180deg,
      #071925 0%,
      #081B26 100%
    );

  text-align: center;
  padding: 80px 20px;
}

.hero-content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-family: var(--font-coolvetica);
  font-size: clamp(4rem, 7vw, 6.8rem);
  line-height: 1;
  color: #ffffff;
  margin-bottom: 20px;

  span {
    background: linear-gradient(90deg, #1C6C8C, #ACDEF2, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}

.hero-subtitle {
  font-family: var(--font-montserrat);
  font-size: 0.9rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: rgba(234, 234, 255, 0.75);
  margin-bottom: 36px;
}

.hero-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.hero-tags span {
  font-family: var(--font-coolvetica);
  font-size: 0.85rem;
  padding: 8px 18px;

  color: #eaf6ff;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(140, 220, 255, 0.6);

  backdrop-filter: blur(6px);
  transition: all 0.3s ease;

  letter-spacing: 0.075em;
}

.hero-tags span:hover {
  background: rgba(0, 229, 255, 0.15);
  box-shadow: 0 0 15px rgba(0, 229, 255, 0.6);
  transform: translateY(-2px);
}
